<div class="cart_title">
  您的购物车
</div>
<table>
  <%= render cart.lists %>

  <tr class="total_line">
    <td colspan="2">总共</td>
    <td class="total_cell"><%= number_to_currency(@purchaser_cart.total_price) %></td>
  </tr>

  <%= button_to "清空",@purchaser_cart,:method => :delete, :confirm => "确定删除？" %>

</table>
