<tr>
  <td>
    <span class="btn btn-inline btn-info space"><%= list.quantity %> </span><span class="btn btn-inline btn-primary space">* </span>
  </td>
  <td>
    <span class="btn btn-inline btn-info space"><%= list.product.name %></span>
  </td>
  <td class="item_price">
    <span class="btn btn-inline btn-info space"><%= number_to_currency(list.total_price) %></span>
  </td>
</tr>
