<p id="notice"><%= notice %></p>

<p>
  <strong>Identity:</strong>
  <%= @admin_applct.identity %>
</p>

<%= link_to 'Edit', edit_admin_applct_path(@admin_applct) %> |
<%= link_to 'Back', admin_applcts_path %>
