// Place all the styles related to the purchaser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'flat-ui';
.entry{
	float:left;
	margin:0px 0px 40px 40px;
}
.mynav{
	background:#3498db;
	border-radius:0px;
}
h4,.price{color:gray;}