<div class="container" style="margin-bottom:10px;width:50%">
	<h1>Editing Admin User</h1>

	<%= render 'form' %>

	<%= link_to '浏览', @admin_user ,class:'btn btn-inline btn-success'%> 
	<%= link_to '返回', admin_users_path,class:'btn btn-inline btn-warning' %>
</div>
